# Enable all checks by default and manually disable redundant or problematic checks.
Checks:
    '*,
    -abseil-*,
    -altera-*,
    -android-*,
    -boost-*,
    -darwin-*,
    -linuxkernel-*,
    -llvmlibc-*,
    -mpi-*,
    -objc-*,
    -openmp-*'

FormatStyle: file
WarningsAsErrors: '*'
