# Enable all checks by default and manually disable redundant or problematic checks.
Checks:
    '*,
    -abseil-*,
    -altera-*,
    -android-*,
    -boost-*,
    -darwin-*,
    -linuxkernel-*,
    -llvmlibc-*,
    -mpi-*,
    -objc-*,
    -openmp-*,

    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-type-union-access,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
    -readability-magic-numbers'

FormatStyle: file
WarningsAsErrors: '*'
